.test {
  text-align: left;
}
.headContent {
  margin-top: 2.5rem;
  margin-left: 4rem;
  margin-right: 4rem;
  padding-left: 3rem;
  padding-right: 3rem;
}
p {
  text-align: justify;
}
.space {
  margin-top: 1.5rem;
}

.info button,
h4,
p {
  margin-top: 1rem;
  margin-bottom: 1.4rem;
}
